li.nav-item.nav-category
    span.nav-link Navigation
li.nav-item.menu-items
    a.nav-link(href='/users')
        span.menu-icon
            i.mdi.mdi-speedometer
        span.menu-title users
li.nav-item.menu-items
    a.nav-link(href='/books/index')
        span.menu-icon
            i.mdi.mdi-table-large
        span.menu-title Books